<h1> ALL businesses <h1>
<table>
    <thead>
        <tr>
            <td>Business Name</td>
        <tr>
    </thead>
    <tbody>
    <%@businesses.each do |business|%>
    <tr>
        <td><%= business.name%></td>
    </tr>
    <%end%>
    </tbody>
</table>
