<h1>New Job Listing</h1>

<%= form_for(@job) do |f| %>
    <% f.label(:title)%>
    <% f.text_field(:title) %>
    <br />
    <% f.label(:description)%>
    <% text_area_tag("job[description]")%>
    <br />
    <%= f.submit%>
<%end%>
